
  /** Layout **/
.po-container{
  padding: 15px;
}
.po-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.po-row-12-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100px;
}
.po-row > [class^="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}
.po-col{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.po-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.po-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.po-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.po-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.po-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.po-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.po-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.po-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.po-no-gutters .col,
.po-no-gutters[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/** Forms **/
#po-main-container input[type="search"],
#po-main-container input[type="email"],
#po-main-container input[type="text"]:not(#elo-min):not(#elo-max):not(.ui-inputtext),
#po-main-container input[type="password"],
#po-main-container select{

    font-size: inherit;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #545a61;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cbcfd4;
    border-radius: .05rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.po-form-control:disabled, .po-form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.po-form-group {
  margin-bottom: 1rem;
}
.po-col-form-label {
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}
.po-form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: .375rem;
  padding-bottom: .375rem;
  margin-bottom: 0;
  line-height: 1.5;
  background-color: transparent;
  border: solid transparent;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 1px 0;
}

#po-main-container input.po-form-control,
#po-main-container .po-form-control,
#po-main-container .po-form-control-readonly{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #545a61;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cbcfd4;
  border-radius: .05rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#po-main-container .po-form-control-readonly{
  background-color: rgba(227, 227, 227, 0.85);
}
.po-form-control::placeholder {
  color: #636a71;
  opacity: 1;
}
.po-label{
  background-color: #f5f6f9;
  color: #6c99c2;
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.po-label .po-badge{
  float: right;
}
.po-label .po-badge:after{
  content: "";
  clear: both;
}

/** list **/
.po-list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.po-list-card{
  padding: 10px;
}
.po-list-card .po-list-header{
  padding: 10px 0;
}
/** nav **/
.po-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.po-item{
  padding: 5px 10px 5px 0;
}
.po-nav-link {
    display: block;
    padding: .5rem 1rem;
}

/** badge **/
.po-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.po-btn .po-badge {
    position: relative;
    top: -1px;
}

/** btn- **/
.po-btn {

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.po-btn:focus, .po-btn:hover {
    text-decoration: none;
}

/** ProfileTeacher **/
.po-img-profile{
  height: 80px;
  width: 80px;
  background: #3f4248;
}


/** text **/
.text-center{
  text-align: center;
}
.text-capitalized{
  text-transform: capitalize;
}
.text-upper{
  text-transform: uppercase;
}
.text-maj:first-letter {
  text-transform: uppercase;
}
/** tool **/
.hide{
  display: none;
}
.show{
  display:block;
}
.active{
  color: #d96c1c;
}

/** color **/
.primary{color: #d96c1c !important;}
.secondary{color: #6c99c2 !important;}
.blue{color: #2a4d86 !important;}
.green{color: #88b04b !important;}
.bg-primary{background-color: #d96c1c;}
.bg-secondary{background-color: #6c99c2;}
.bg-blue{background-color: #2a4d86;}
.bg-green{background-color: #88b04b;}
.btn-primary{background-color: #d96c1c;}
.btn-secondary{background-color: #6c99c2;}
.btn-blue{background-color: #2a4d86;}
.btn-green{background-color: #88b04b;}

.bbtm{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 5px;
}
